*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#0078d7;
    padding:20px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

nav h2{
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:40px;
    color:#222;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    color:#555;
    margin-bottom:30px;
}

.hero button{
    padding:15px 35px;
    background:#0078d7;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

.hero button:hover{
    background:#005fa3;
}