*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111827;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:90%;
max-width:400px;
text-align:center;
}

h1{
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
font-size:18px;
margin-bottom:20px;
}

button{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
background:#2563eb;
color:white;
}

button:hover{
background:#1d4ed8;
}